/* CSS Document */
body, input[type="text"], form {
	font-family: Arial, Helvetica, sans-serif;
}

header{

}
#content{
	padding-right: 20px;
}
input#title{
	font-size: 40px;
}
#colorForm{
	display: block;
}

.colorPanel{
	width:250px;
	height: 362px;
	float: left;
	margin-bottom: 30px;
	padding:0;
}

.colorBox{
	height:250px;
	width:250px;
	margin: auto;
	/* border: 1px solid #C0C0C0; */
}

/* This is the original color picker */
#picker{
	width: 600px;
	height: 600px;

}
/*This is the new color picker */
#colorPicker{
	width: 600px;
	visibility: hidden;
	border: solid 1px gray;
	display: block;
	position: absolute;
}
#colorPicker div{
	cursor: move;
	width: 100%;
}
#colorPicker h3{
	float: left;
	margin: 10px;
	font-size: 0.9em;
}
#colorPicker button{
	float: right;
}
#pickerHandle{
	background-color: white;
	overflow: auto;
}
button{
	font-size: 20px;
	cursor: pointer;
}

button:hover{

}
button.minus{
	float: left;
}
button.add{
	float: right;
}

p{
	clear: both;
	margin-top: 30px;
}
.colorInputs{
	float: left;
	width: 163px;
	margin-left: 7px;
	display: inline-block;
}
.colorInputs input{
	width: 163px;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
#colorPicker canvas{
	float: left;
}
.colorThumb{
	height: 40px;
	width: 40px;
	display: inline-block;
}