/* CSS Document */
body, input[type="text"], form {
	font-family: Arial, Helvetica, sans-serif;
}

header{

}

#content{
	padding-right: 20px;
}

input#title{
	font-size: 40px;
}
#colorForm{
	display: block;
}

.colorPanel{
	width:250px;
	height: 362px;
	float: left;
	margin-bottom: 30px;
}

.colorBox{
	height:250px;
	width:250px;
	margin: auto;
	border: 1px solid #C0C0C0;
}

/* This is the original color picker */
#picker{
	width: 600px;
	height: 600px;

}
/*This is the new color picker */
#colorPicker{
	width: 600px;
	visibility: hidden;
	border: solid 1px black;
	display: block;
	float: left;
}
#colorPicker div{
	cursor: move;
	width: 100%;
}
#colorPicker h3{
	display: inline;
}
#colorPicker button{
	float: right;
}
button{
	font-size: 20px;
	cursor: pointer;
}

button:hover{

}

button.add{
	float: right;
}

p{
	clear: both;
	margin-top: 30px;
}

